body {
       font-family: 'Spotify Mix', sans-serif;
      background: linear-gradient(135deg, #0099dd, #121212 70%);
      overflow: hidden;
    }

    .text-muted {
    color: #b3b3b3 !important;
}

    .hero-container {
      min-height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 40px 20px;
      position: relative;
      z-index: 1;
    }

    .hero-box {
      background-color: rgba(18, 18, 18, 0.95);
      border-radius: 20px;
      padding: 60px 40px;
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
      animation: fadeIn 1s ease-out;
      max-width: 600px;
      width: 100%;
    }

    .hero-box h1 {
      font-size: 3rem;
      color: #0099dd;
      margin-bottom: 20px;
    }

    .hero-box p {
      font-size: 1.2rem;
      color: #ccc;
      margin-bottom: 30px;
    }

    .btn-hero {
      background-color: #0099dd;
      color: white;
      padding: 12px 30px;
      font-size: 1.1rem;
      border-radius: 30px;
      transition: background 0.3s;
      border: none;
    }

    .btn-hero:hover {
      background-color: #0099dd;
    }

    .music-icon {
      font-size: 60px;
      color: white;
      margin-bottom: 20px;
      animation: pulse 2s infinite;
    }
    .music-icon img {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      animation: pulse 2s infinite;
    }

    @keyframes fadeIn {
      from { opacity: 0; transform: translateY(30px); }
      to { opacity: 1; transform: translateY(0); }
    }

    @keyframes pulse {
      0%, 100% { transform: scale(1); opacity: 1; }
      50% { transform: scale(1.1); opacity: 0.8; }
    }

    .stars {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url('https://www.transparenttextures.com/patterns/stardust.png');
      opacity: 0.05;
      z-index: 0;
    }